[Unit]
Description=Backup semanal de la base Postgres 'casa' a la SD interna
After=postgresql.service

[Service]
Type=oneshot
User=root
ExecStart=/home/albertqu/scripts/backup_casa_to_ice.sh
